/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.flex {
  display: flex;
}
.font {
  font-family: 'ZCOOL KuaiLe', cursive;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #EEC900;
  color: navy;
}
.header nav {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.header nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: navy;
  padding: 5px;
}
.header nav a:hover {
  color: white;
}
.header h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  padding: 20px;
}
.name-cont {
  margin-right: 25px;
  width: 55%;
}
.name-cont h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.name-cont p:nth-child(2) {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 2em;
  color: #EEC900;
  margin-bottom: 10px;
}
.name-cont p:nth-child(3) {
  font-size: 1.5em;
  color: #6B6B6B;
  font-weight: strong;
  margin-bottom: 25px;
}
.name-cont p:nth-child(4) {
  font-size: 1em;
  margin-bottom: 25px;
  color: #6B6B6B;
}
.name-cont button {
  color: white;
  font-weight: bolder;
  background: navy;
  border: 1px inset silver;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 5px 15px;
}
#about-sec {
  background: #EEC900;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  padding: 100px;
  color: white;
}
#img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.about-cont {
  width: 40%;
  text-align: center;
}
.about-cont h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.about-cont p {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 1.7em;
}
.about-content {
  width: 60%;
  padding: 20px;
}
.image-cont {
  width: 45%;
}
.image-cont img {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 30px 0px;
  border: 1px solid black;
}
#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 15px;
}
#customers tr:nth-child(even) {
  background-color: lightgray;
}
#customers tr {
  color: #6B6B6B;
}
#customers tr:hover {
  background-color: navy;
  color: #EEC900;
}
#customers th {
  font-family: 'ZCOOL KuaiLe', cursive;
  padding: 12px;
  text-align: left;
  background-color: navy;
  color: #EEC900;
}
